body{
  background-color: white;
}
  .main{
    width: 1000px;
    height: auto;

    margin: 0 auto;
    position: relative;
  }
  .calendarBody{
    width: 170px;
    height: 230px;
    margin-left: 10px;
    float: left;
  }
  .years{
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;

  }
  .box{
   text-align: center;
  }
  .boxSunday{

    color:blue;
  }
  .years:hover{
    background-color: lightblue;
  }
  .monthDisplay{
    color: blue;
  }
  #sunday{
    color: red;
  }
  .menus{
    width: 1000px;;
    height: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;

  }
  .menus li {
    float: right;
    list-style: none;
    display: inline;
    margin-left:  10px;
    width: 100px;
    cursor: pointer;
    padding: 10px;
  }
  .menus a {
    text-decoration: none;
    font-size: 23px;
  }
  .oneMonth{
    clear: both;
    width: 1000px;
    height:auto;
    text-align: center;
  display: none;

  }
  .months{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid darkgrey;
    cursor: pointer;
    text-align: right;
    vertical-align: 0px;

  }
  .box1{
    border: 1px solid darkgrey;
  }
  .box1Sunday{
    border: 1px solid darkgrey;
    color: blue;
  }

  .months:hover{
    background-color: lightblue;
  }
  .aCalendarBody{
    width: 1000px;
    height: auto;
    margin:0 auto;



  }
  .tableMonth{
      border-collapse: collapse;
      width: 1000px;
      table-layout: fixed;

  }
  .previous{
    float: left;

  }
  .previous button{
      cursor: pointer;
  }
  .next{
    float: right;

  }
  .next button{
      cursor: pointer;
  }
  .titleMonth{
    width: 500px;
    margin:0 auto;
  }
  .row0 td{
    background-color:turquoise;
    border: none;
    height: 50px;
    text-align: center;
    vertical-align: middle;
  }
  .events{

    border: 1px solid blue;

    background-color: lightblue;
    overflow: scroll;
    width: inherit;;

  }
  .aDay{
    width: 1000px;
    height: auto;
    overflow-x: hidden;
    transition: height 3s ease;
      display: none;

  }
  .daySchedule{
    width: inherit;
    height: auto;


  }
  .dayTimes{
    width: inherit;
    height: 400px;
    overflow:scroll;
  }
  .acell{
    width: 900px;
    height: 100px;
    border: 1px solid black;
  }
  .firstCell{
    width: 1000px;
    height: 45px;


  }
  .firstTd{
    vertical-align:0px;
  }
  .insideCell{
    width: inherit;
    height: 50%;
    border-bottom: 1px dashed blue;
    cursor: pointer;
    position: relative;
  }
  .insideCell:hover{
    background-color: lightblue;
  }
  .eventMakingPanel{
    position: absolute;
    top:50px;
    left:100px;
    width: 300px;
    height: 300px;
    background-color: silver;
    box-shadow: 10px 10px 5px #888888;
    color: black;
    z-index: 2;

    display: none;
  }
  .eventMakingPanel .firstDiv{
    height: inherit;
    background-color: inherit;
    z-index: 10;

  }
  .arrow{
    width: 50px;
    height: 50px;
    background-color: darkgrey;
    position: absolute;
    top: 100px;
    left: -10px;
    transform: rotate(45deg);

    z-index: -1;
  }
  #buttonDelete{

    position: absolute;
    top: 270px;
    left: 100px;
  }
  #buttonEdite{

    position: absolute;
    top: 270px;
    left: 170px;
  }
  #buttonCreate{

    position: absolute;
    top: 270px;
    left: 245px;
  }
  .deleteEMP{
    position: absolute;
    top: 0px;
    left: 280px;
    color: red;
    cursor: pointer;
  }
  #eventDate{
    width: inherit;
    height: auto;
  }
  .timeInputs{

    height: auto;
    display: none;
  }
  .hourInputs{
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top:10px;
    color: darkgrey;
    position: relative;
    float: left;
  }
  .minuteInputs{
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top:10px;
    color: darkgrey;

    position: relative;
    float: left;
  }
  .eventDivs{
    width: 98%;
    height: 20px;
    border: 1px solid yellow;
    background-color: orange;
    border-radius: 30px;
    color: black;
    overflow: hidden;
    text-align: center;
  }
  .daysEventDivs{
    width: 100px;
    height: 20px;
    border: 1px solid pink;
    border-radius: 30px;
    background-color: violet;
    color: black;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #time1{
    width: 100px;
    cursor: pointer;
  }
  #time2{
    width: 100px;
    cursor: pointer;
  }
  .hourInputs:hover #time1DropDown{
    height: 100px;

  }
  .minuteInputs:hover #time2DropDown{
    height: 100px;

  }
  #time1DropDown{
    width: 105px;
    height: 0px;
    background-color: grey;
    position: absolute;
    top: 20px;
    left: 38px;
    overflow: scroll;
    text-align: center;
    transition: .5s ease;
  }
  #time2DropDown{
    width: 105px;
    height: 0px;
    background-color: grey;
    position: absolute;
    top: 20px;
    left: 20px;
    overflow: scroll;
    text-align: center;
    transition: .5s ease;
  }
  .dropDownsElt{
    width: inherit;
    height: auto;


  }
  .dropDownsElt:hover{
    background-color: white;
    color: black;

  }

  .allDayDivs{
    width: 100px;
    height: 20px;
    position: absolute;
    top: 0px;
    left:0px;
    border: 1px solid pink;
    border-radius: 30px;
    background-color: yellow;
    color: black;
    overflow: hidden;
    text-align: center;
  }
  .aDayNavigation{
    width: 100px;
    height:30px;

  }
  #smallInfoScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    width: 200px;
    height: auto;
    text-align: center;

    background-color: lightgray;
    color: black;
    display: none;
    z-index: 7;
    box-shadow: 10px 10px 5px #888888;
  }
  #monthEventsInfoScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: auto;
    text-align: center;
    color: black;
    display: none;
    z-index: 1;

  }
  #monthEventsInfoScreen  div{
    cursor: pointer;
    background-color: orange;
    border-radius: 30px;
    width: 98%;
    height: 20px;
    border: 1px solid yellow;
    overflow: hidden;
    margin-top: 3px;
    box-shadow: 10px 10px 5px #888888;

  }
  #monthEventsInfoScreen  div:hover{
    background-color: white;
    height: auto;
  }
  .eventDivsExtra{
    width: 98%;
    height: 10px;
    color: blue;
    text-align: center;
    position: relative;

  }
  #inside{
    position:absolute;
    top: 0px;
    left:0px;
    width: 100px;
    height: 100px;
    border: 1px solid blue;

  }
